<a href="https://colab.research.google.com/github/Arush0113/CE784/blob/main/Arush_CE784_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [71]:
df = pd.read_csv('/content/drive/MyDrive/ce784 assignment 2 dataset/cleaned.csv')

In [72]:
df.head(50)

,user,timestamp,x,y,z,class
0,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.053,0.78,-9.13,-3.74,bus
1,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.111,0.79,-9.11,-3.75,bus
2,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.169,0.80,-9.12,-3.75,bus
3,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.228,0.78,-9.14,-3.76,bus
4,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.286,0.83,-9.12,-3.80,bus
5,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.344,0.77,-9.13,-3.72,bus
6,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.403,0.80,-9.14,-3.76,bus
7,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.460,0.77,-9.12,-3.73,bus
8,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.519,0.77,-9.14,-3.73,bus
9,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.578,0.77,-9.10,-3.76,bus
10,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.635,0.75,-9.15,-3.73,bus
11,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.692,0.80,-9.10,-3.74,bus
12,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.933,0.80,-9.12,-3.76,bus
13,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.934,0.78,-9.16,-3.72,bus
14,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:56.222,0.81,-9.10,-3.76,bus
15,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:56.223,0.79,-9.16,-3.77,bus
16,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:56.224,0.78,-9.12,-3.72,bus
17,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.094,0.81,-9.12,-3.77,bus
18,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.095,0.79,-9.13,-3.74,bus
19,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.096,0.81,-9.13,-3.77,bus
20,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.097,0.77,-9.11,-3.76,bus
21,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.098,0.80,-9.11,-3.74,bus
22,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.149,0.80,-9.15,-3.76,bus
23,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.207,0.83,-9.13,-3.76,bus
24,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.265,0.79,-9.13,-3.77,bus
25,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.323,0.78,-9.18,-3.71,bus
26,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.382,0.80,-9.10,-3.74,bus
27,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.440,0.79,-9.15,-3.71,bus
28,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.498,0.81,-9.10,-3.74,bus
29,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.557,0.80,-9.14,-3.76,bus
30,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.616,0.78,-9.13,-3.73,bus
31,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.673,0.82,-9.11,-3.79,bus
32,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.731,0.77,-9.14,-3.72,bus
33,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.790,0.84,-9.12,-3.78,bus
34,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.849,0.80,-9.15,-3.74,bus
35,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.906,0.82,-9.13,-3.75,bus
36,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:57.965,0.83,-9.15,-3.75,bus
37,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:58.023,0.76,-9.10,-3.70,bus
38,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:58.080,0.83,-9.13,-3.78,bus
39,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:58.139,0.76,-9.12,-3.72,bus
40,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:58.197,0.80,-9.12,-3.76,bus
41,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:58.255,0.77,-9.12,-3.73,bus
42,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:58.317,0.81,-9.14,-3.73,bus
43,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:58.371,0.82,-9.13,-3.76,bus
44,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:58.430,0.79,-9.14,-3.75,bus
45,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:58.489,0.81,-9.12,-3.78,bus
46,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:58.547,0.80,-9.14,-3.73,bus
47,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:58.604,0.79,-9.14,-3.80,bus
48,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:58.662,0.80,-9.12,-3.73,bus
49,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:58.721,0.79,-9.16,-3.67,bus

In [73]:
df['user'][0]

'a2d80ed662f34d32951eb1c6ed076c313e358b73'

In [74]:
len(df[df['user'] == df['user'][0]])

3791

### Question 1

In [75]:
print(df.columns)
print(len(df.columns))
print(len(df))
print(df['user'].unique())
print(len(df['user'].unique()))

Index(['user', 'timestamp', 'x', 'y', 'z', 'class'], dtype='object')
6
5653053
['a2d80ed662f34d32951eb1c6ed076c313e358b73'
 'a526f3566e9c9024dfa7378eb4291d787a09fd37'
 'a59868c6eb3645eedbb343ce8c336ec6f2ef2324'
 'a92dee88f61123f923dccec01eeecf1a81953b36'
 'ac4c17afeb69b39169eb301ab592696a8f353976'
 'adaaae1a67ea9e43abd60ba945eccda0cb8821e0'
 'b138d165100ef60bc793cac143742eb5aea4d6ba'
 'b45157069942d01310c3e7b74034166717bb25f9'
 'b7b165e5637b5a0226068d907748f4bbfc61a320'
 'c453226e3616ae821cdcb38f38481c2a20f2482f'
 'c5702d34b238fe68683f818e82cd3a3cd8a16366'
 'ca7950f223a8037b897d0547075dc138f9e43b20'
 'cace4ec0999436917986b4fa6e9317262c897bc2'
 'cbde60baea002b694ecf2a3ff2d95be16b00efe1'
 'ce39f5d0705695fcd70a04ba6d84ac6beecd6f9c'
 'd429974540bfd38c3367fe9f0c8682775ff4fa18'
 'd7a1230d94f91a32cc079809748e52e8a4a6a22f'
 'd7dd12d83c81574137f858034b99f4cc83ab0718'
 'd8c047eaaee204b7b5cd71e2d67308b87b038ed3'
 'dc0bdce306ec3b624fe0e6ecd1ffbd82cb970120'
 'dd82e3df4bebc74ed6b67877be79e29f401c16a3'
 'dde95e125d89843f7032baa734ee4d34ec775aaf'
 'de9892b879c83ea3d24fb4560873107cc4e86d48'
 'dfcfc0404691b73b69884073159f90843f2ac35b'
 'e429a95c532f1117130c11e4a18379d84fa4ffa9'
 'eb9e7854290fd6ea9ebaf448b640fc1f1dbeb076'
 'ecfb0929250fb6dda66a4065441230ab27f094e5'
 'ed623d28c1e0071632a6110b8f8ed93f8af78b99'
 'f1b7331b66e404c11eebb22933e733117bbb12c9'
 'f5edd999397145a2ec1b244226fc83f99631760c'
 'f7ae1ce141c26db40ea8b090fb568a0c965310aa'
 'faae5be800be2dfa897eea0bd2e5988cd53c4ec0']
32

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5653053 entries, 0 to 5653052
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   user       object
 1   timestamp  object
 2   x          float64
 3   y          float64
 4   z          float64
 5   class      object
dtypes: float64(3), object(3)
memory usage: 258.8+ MB

### Question 2

In [77]:
user_changed=[]
for i in range(len(df['user'])-1):
  if (df['user'][i] != df['user'][i+1]):
    user_changed.append(1)
  else:
    user_changed.append(0)
user_changed.append(1)
df['user_c'] = user_changed

In [78]:
df['user_shifted'] = df['user'].shift(1, axis = 0)
df['class_shifted'] = df['class'].shift(1, axis = 0)

In [79]:
class_changed=[]
for i in range(len(df['user'])-1):
  if (df['class'][i] != df['class'][i+1]):
    class_changed.append(1)
  else:
    class_changed.append(0)
class_changed.append(1)
df['class_c'] = class_changed

In [80]:
# sum(df['class_c'])

In [81]:
df.head()

,user,timestamp,x,y,z,class,user_c,user_shifted,class_shifted,class_c
0,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.053,0.78,-9.13,-3.74,bus,0,NaN,NaN,0
1,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.111,0.79,-9.11,-3.75,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0
2,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.169,0.80,-9.12,-3.75,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0
3,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.228,0.78,-9.14,-3.76,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0
4,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.286,0.83,-9.12,-3.80,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0

In [82]:
df.head()

,user,timestamp,x,y,z,class,user_c,user_shifted,class_shifted,class_c
0,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.053,0.78,-9.13,-3.74,bus,0,NaN,NaN,0
1,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.111,0.79,-9.11,-3.75,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0
2,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.169,0.80,-9.12,-3.75,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0
3,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.228,0.78,-9.14,-3.76,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0
4,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.286,0.83,-9.12,-3.80,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0

In [83]:
df['timestamp_shifted'] = df['timestamp'].shift(1, axis=0)

In [84]:
# a_timedelta = datetime.datetime.strptime(df['timestamp'][1]) - datetime.datetime.strptime(df['timestamp'][0])

df['timestamp'] = df['timestamp'].astype('datetime64[s]')
df['timestamp_shifted'] = df['timestamp_shifted'].astype('datetime64[s]')

In [85]:
df['time_diff'] = (df['timestamp'] - df['timestamp_shifted'])/np.timedelta64(1, 's')

In [86]:
# datetime.datetime.strptime(df['timestamp'][1], %d)

In [87]:
df['time_diff'].unique()

array([           nan,  0.0000000e+00,  1.0000000e+00,  7.3000000e+01,
        1.5000000e+01,  5.0000000e+00,  1.7500000e+02,  1.0000000e+01,
        8.0000000e+00,  3.0000000e+01,  6.1000000e+01,  6.4000000e+01,
        7.7000000e+01,  8.4000000e+01,  3.3000000e+01,  5.7000000e+01,
        1.0100000e+02,  4.0000000e+00, -1.0000000e+00, -4.7666490e+06,
        2.0000000e+00,  2.0000000e+01,  1.6000000e+01,  2.6000000e+01,
        2.5450000e+03,  3.0000000e+00,  7.0000000e+00,  9.0000000e+00,
        1.1000000e+01,  6.0000000e+00,  2.2000000e+01,  1.4000000e+01,
        2.2641000e+04,  4.1241000e+04, -6.0000000e+00,  1.9646000e+04,
        2.3990000e+03,  1.8393000e+04,  1.3411600e+05,  1.8000000e+01,
        8.4981000e+04, -5.9000000e+01,  6.0000000e+01,  2.5000000e+01,
        1.9000000e+01,  2.0500000e+02,  5.1372000e+04,  3.7490900e+05,
        2.5964000e+04, -7.8346100e+05,  1.4360000e+04,  4.3000000e+03,
        4.7926000e+04,  1.3057000e+04,  3.9730000e+03, -2.2000000e+01,
        2.3000000e+01,  4.3000000e+01,  6.9000000e+02,  1.6674000e+04,
        3.8925000e+04,  1.9710000e+03, -3.0000000e+01,  3.1000000e+01,
       -3.6000000e+01,  3.6000000e+01,  2.1050000e+03,  2.5350000e+03,
       -1.8000000e+01,  2.4000000e+01,  1.0523200e+05,  2.1000000e+01,
        2.9117000e+04, -9.0000000e+00, -2.0000000e+01,  3.4524000e+04,
        1.1499000e+04,  7.0980000e+03,  5.8000000e+03,  1.3449300e+05,
        1.3358000e+04,  3.4050000e+03,  1.6766000e+04,  5.7510000e+03,
        1.3129800e+05,  1.3778000e+04,  4.0000000e+03,  1.3000000e+01,
        3.7414000e+04,  1.7000000e+01,  3.0533000e+04,  3.4184000e+04,
        3.8592150e+06,  3.6740000e+03,  2.9000000e+01,  1.6694000e+04,
        1.2000000e+01,  3.1703500e+05,  1.2970000e+04,  3.0860000e+03,
        4.1000000e+01,  2.7000000e+01,  1.0902786e+07,  1.8180700e+05,
        1.3499000e+04,  1.3100000e+02,  8.5016000e+04, -2.7000000e+01,
        3.1452000e+04,  8.4186000e+04, -2.4000000e+01,  1.9831000e+04,
        1.5686000e+04,  1.3740900e+05,  1.6000000e+02,  1.7829000e+04,
        1.5448000e+04, -5.3000000e+01,  5.3000000e+01,  7.3100000e+02,
        5.1350000e+03,  1.6571000e+04,  2.7627000e+04, -1.5795990e+07,
       -1.4000000e+01, -6.8783900e+05,  3.9000000e+01,  1.8645000e+04,
        5.1000000e+01,  4.8156630e+06,  3.5740000e+03,  8.9570000e+03,
        2.8000000e+01, -4.5636160e+06,  1.5019800e+05,  7.0317000e+04,
        6.7027000e+04,  3.5684000e+04,  4.9077000e+04,  3.4500000e+04,
        4.9000000e+01,  4.1120710e+06,  1.9226000e+04,  6.5629000e+04,
        7.8190000e+03,  6.9600000e+02, -2.6000000e+01,  8.0710000e+03,
        2.9940000e+03,  3.0592561e+07,  1.5760000e+04,  6.4155000e+04,
        6.2100000e+03,  8.5070000e+04,  9.9300000e+02,  7.8161000e+04,
        5.2800000e+03,  1.8050000e+03,  8.8908900e+06,  1.0159000e+04,
        6.3000000e+01,  1.8953300e+05,  8.3232000e+04, -9.4648820e+06,
        1.4695000e+04,  6.9811000e+04,  3.5974000e+04,  4.9234000e+04,
        3.2000000e+01,  8.3442000e+04,  3.7000000e+01,  1.3500000e+02,
        8.8110760e+06,  1.7194000e+04,  1.7505000e+04,  9.5848000e+04,
        7.5625000e+04,  4.9425000e+04,  8.5260000e+04,  3.0800000e+02,
        3.1575000e+04, -2.9026446e+07,  1.2600000e+02,  1.7400000e+02,
        1.4627800e+05,  7.5000000e+01,  5.5000000e+01,  2.1300000e+02,
        9.7000000e+01,  2.6800000e+02,  1.8300000e+02,  1.1300000e+02,
        9.6000000e+01,  1.2000000e+02,  1.4400000e+02,  2.3700000e+02,
        8.9000000e+01,  1.4600000e+02,  4.0000000e+01,  4.5000000e+01,
        2.7020000e+03,  2.3500000e+02,  1.3900000e+02,  8.8000000e+01,
        1.1700000e+02,  2.1500000e+02,  9.8000000e+01,  1.4656200e+05,
        1.9400000e+02,  1.5700000e+02,  4.4000000e+01,  2.1700000e+02,
        3.5732000e+04,  8.5058000e+04, -8.0000000e+00,  1.1200000e+02,
       -1.5000000e+01, -1.2000000e+01,  4.6000000e+01,  3.4000000e+01,
        1.8000000e+02,  4.2000000e+01,  4.2200000e+02,  5.0000000e+01,
        6.5000000e+01,  4.3659000e+04,  4.7000000e+01,  1.4800000e+02,
        1.5600000e+02,  2.6100000e+02,  1.2261100e+05,  3.5000000e+01,
        1.2500000e+02,  2.1900000e+02, -1.6618795e+07,  2.5456100e+05,
        4.2995800e+05,  9.1006000e+04,  5.4000000e+01,  3.8000000e+01,
        2.4081000e+04,  1.4954561e+07,  6.4300000e+02,  1.4770800e+05,
        2.6799000e+04,  5.2000000e+01,  6.0129000e+04,  2.1518000e+04,
        1.5615800e+05,  2.2450000e+03,  5.6000000e+01,  7.0461000e+04,
        9.1781000e+04,  9.1154000e+04,  1.6335800e+05, -1.5895826e+07,
        7.2180000e+03,  3.4898464e+07,  1.6133000e+04,  9.4500000e+02,
        6.6751000e+04,  1.8858000e+04,  1.0240000e+03,  2.6050000e+03,
        4.4275000e+04,  1.1370000e+03,  1.7671000e+04,  1.1229000e+04,
        1.9680000e+03,  5.1106000e+04,  3.4075000e+04, -3.5269500e+07,
        8.6186000e+04,  1.0910600e+05,  3.4972703e+07,  8.6265000e+04,
        8.7949940e+06,  1.6988500e+05,  3.9105000e+04,  5.6150000e+03,
        3.8740000e+04,  6.1200000e+02,  2.9019000e+04,  1.7350000e+03,
        8.9010000e+04, -4.4964369e+07,  8.8443000e+04,  8.3616000e+04,
        3.4516700e+05,  3.6869000e+04,  1.3716700e+05,  4.5130000e+03,
        8.2290000e+03,  6.4500000e+02,  3.9535210e+06,  8.5723000e+04,
        1.1732000e+04,  3.1440000e+03,  7.1548000e+04, -4.0000000e+01,
        1.0838992e+07,  9.5000000e+01,  2.4000000e+02,  1.2800000e+02,
        5.8000000e+01,  8.5949000e+04,  1.4310000e+03,  9.1000000e+01,
        1.6200300e+05, -5.6000000e+01,  1.4991900e+05,  3.7200000e+02,
        1.4021000e+04,  2.4200000e+02,  1.3400000e+02,  2.1000000e+02,
        3.1924000e+05,  1.4390000e+03,  2.3400000e+02,  8.9860000e+03,
        2.0671000e+04, -3.3000000e+01,  2.3300000e+02,  2.3900000e+02,
        1.6300000e+02,  5.9000000e+01,  1.9054060e+07,  2.7298000e+04,
        1.1730000e+03,  2.2790000e+03,  4.9130000e+03,  4.8090000e+04,
        3.6046000e+04,  4.9017000e+04,  3.4134000e+04, -2.0756300e+05,
        2.3353000e+04,  1.4437000e+04,  6.3109000e+04,  1.9500000e+03,
        1.8220000e+04,  1.4575000e+04,  6.9950000e+03,  1.7330000e+03,
        2.5555000e+04,  4.7110000e+04,  6.2800000e+02,  1.8753000e+04,
        1.2000000e+03, -3.0926205e+07,  6.6470000e+03,  1.0800520e+07,
        7.4000000e+01,  4.8806000e+04, -2.8000000e+01,  3.0732000e+04,
        6.6000000e+01,  1.0400000e+02,  5.4013000e+04,  3.4712000e+04,
        5.0613000e+04,  2.7793900e+05,  1.9327433e+07,  3.7490000e+04,
        1.9080000e+03,  8.1961000e+04,  8.3261000e+04,  4.0860000e+03,
        1.9900000e+02,  1.3600000e+03,  4.8886000e+04,  1.7286000e+04,
        1.4702000e+04,  4.6700000e+02,  7.7200000e+02, -2.0125074e+07,
        4.9614600e+05,  2.8371600e+05,  2.8124438e+07,  2.7207000e+04,
        5.6080000e+04,  9.2900000e+02,  6.9000000e+01,  6.2000000e+01,
        2.3545000e+04,  1.5230000e+03,  8.5329000e+04,  5.6951000e+04,
        4.8100000e+02,  8.5478000e+04, -2.9198216e+07,  5.7960000e+03,
        1.0580500e+05,  7.8099000e+04,  8.3000000e+01,  6.0400000e+02,
        7.0000000e+01,  1.2200000e+02,  1.0270000e+03,  1.4700000e+02,
        4.8000000e+01,  6.1838000e+04,  9.5870000e+04,  4.4900000e+02,
        1.5300000e+02,  1.2272000e+04,  6.0300000e+02,  1.7220000e+03,
        7.2000000e+01,  1.0940000e+03,  1.4421300e+05,  1.6100000e+02,
        1.0137000e+04,  1.4960000e+03,  1.0926700e+05,  4.9900000e+03,
        5.6325000e+04,  6.2531000e+04, -7.0000000e+00,  4.9200000e+02,
        1.0645000e+04,  1.0880000e+03,  4.9000000e+02,  5.8010000e+03,
       -7.7974400e+05, -4.7000000e+01,  3.6237200e+05,  2.0030000e+03,
        5.1165000e+04,  1.6396000e+04,  6.8448000e+04,  5.7970000e+03,
        8.0137000e+04,  8.0570000e+03, -1.6408170e+07,  1.5681000e+04,
        1.9880000e+03,  1.4900000e+02,  4.3282000e+04, -8.3306000e+04,
        1.7521500e+05, -3.5000000e+01,  1.1768000e+04,  7.1053000e+04,
        2.9217800e+05,  4.2823920e+06,  8.8398000e+04,  3.7786000e+04,
        4.7752000e+04,  8.2500000e+02,  3.3286000e+04,  1.0852431e+07,
        3.4800000e+04,  1.4680700e+05, -4.0000000e+00,  9.8567000e+04,
       -1.1395971e+07,  4.7257000e+04,  1.1400000e+02,  1.2173400e+05,
        3.9707032e+07,  1.0864500e+05,  5.9018000e+04,  1.8877000e+04,
        1.4722000e+04,  5.0562000e+04,  3.4163000e+04,  1.6470000e+03,
       -9.2473350e+06,  1.3454400e+05,  3.2560000e+03,  3.1339000e+04,
        4.1330000e+03,  1.0263000e+04,  8.7997700e+06,  8.3555000e+04,
        9.1456000e+04,  1.1930000e+03,  7.3306000e+04,  1.8900000e+03,
        6.6630000e+03,  2.3600000e+03,  1.4460000e+03,  2.5840000e+03,
       -2.9041668e+07,  2.4476700e+05,  4.1387800e+05,  1.9015619e+07,
        2.4170000e+03,  9.1413150e+06,  2.3100000e+03,  1.0035600e+05,
        2.5810000e+03,  3.5440000e+03,  3.9430000e+03,  5.1204000e+04,
        1.7413000e+04,  9.4740000e+03,  5.0680000e+03,  4.9933000e+04,
        1.2323000e+04,  4.8400000e+02,  2.0844000e+04])

In [91]:
df['seq_new'] = df['user_c'] | df['class_c'] | (df['time_diff'] > 10)

In [92]:
# df['seq_new'] = df['user'] != df['user_shifted'] | df['class_c'] != df['class_shifted'] | (df['time_diff'] > 10)

In [93]:
df['seq_new'].sum()

3494

In [94]:
df[df['seq_new'] == 1]

,user,timestamp,x,y,z,class,user_c,user_shifted,class_shifted,class_c,timestamp_shifted,time_diff,seq_new
86,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:28:14,0.84,-9.14,-3.78,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0,2018-06-04 16:27:01,73.0,True
218,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:28:33,2.78,-8.93,-3.23,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0,2018-06-04 16:28:18,15.0,True
601,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:31:41,1.36,-9.37,-2.78,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0,2018-06-04 16:28:46,175.0,True
984,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:32:43,1.78,-9.91,-1.03,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0,2018-06-04 16:32:13,30.0,True
1020,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:33:44,1.83,-9.59,-0.62,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0,2018-06-04 16:32:43,61.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5650814,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:02:25,10.71,3.76,1.16,bike,0,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,0,2019-09-13 17:02:00,25.0,True
5651366,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:03:03,10.27,3.81,-1.21,bike,0,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,0,2019-09-13 17:02:37,26.0,True
5651920,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:03:41,10.31,1.34,-0.08,bike,0,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,0,2019-09-13 17:03:15,26.0,True
5652496,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:19,11.42,0.93,0.44,bike,0,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,0,2019-09-13 17:04:01,18.0,True
5653052,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:32,10.91,1.49,3.05,bike,1,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,1,2019-09-13 17:04:31,1.0,True

In [95]:
df1 = df.groupby(['user', 'class']).seq_new.sum()
df1

user                                      class
a2d80ed662f34d32951eb1c6ed076c313e358b73  bus       12
a526f3566e9c9024dfa7378eb4291d787a09fd37  car       17
                                          walk      22
a59868c6eb3645eedbb343ce8c336ec6f2ef2324  bike      40
                                          bus       20
                                                  ...
f5edd999397145a2ec1b244226fc83f99631760c  walk      14
f7ae1ce141c26db40ea8b090fb568a0c965310aa  car        3
faae5be800be2dfa897eea0bd2e5988cd53c4ec0  bike     137
                                          car       11
                                          walk      36
Name: seq_new, Length: 70, dtype: int64

In [96]:
df

,user,timestamp,x,y,z,class,user_c,user_shifted,class_shifted,class_c,timestamp_shifted,time_diff,seq_new
0,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55,0.78,-9.13,-3.74,bus,0,NaN,NaN,0,NaT,NaN,False
1,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55,0.79,-9.11,-3.75,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0,2018-06-04 16:26:55,0.0,False
2,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55,0.80,-9.12,-3.75,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0,2018-06-04 16:26:55,0.0,False
3,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55,0.78,-9.14,-3.76,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0,2018-06-04 16:26:55,0.0,False
4,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55,0.83,-9.12,-3.80,bus,0,a2d80ed662f34d32951eb1c6ed076c313e358b73,bus,0,2018-06-04 16:26:55,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5653048,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,8.25,0.47,1.41,bike,0,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,0,2019-09-13 17:04:31,0.0,False
5653049,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,12.28,2.07,1.87,bike,0,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,0,2019-09-13 17:04:31,0.0,False
5653050,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,9.20,3.39,-1.80,bike,0,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,0,2019-09-13 17:04:31,0.0,False
5653051,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:31,9.88,4.19,-1.29,bike,0,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,0,2019-09-13 17:04:31,0.0,False
5653052,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,2019-09-13 17:04:32,10.91,1.49,3.05,bike,1,faae5be800be2dfa897eea0bd2e5988cd53c4ec0,bike,1,2019-09-13 17:04:31,1.0,True